*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
}

.link-bio img {
    width: 110px;
    height:150px;
    border:solid 1px #111111;
    border-radius: 50%;
}