*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.back{
    height: 1px
}


.link-bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:10px ;
    gap: 20px;
    
}

.link-bio img {
    width: 100px;
    height: 100px;
    margin:100px;
    gap:1px;
}


.link-bio h1{
    font-size: 50px;
    font: bolder solid;
}

.link-bio a {
    color: rgb(11, 11, 11);
    background-color: rgba(255, 252, 154, 0.322);
    padding: 15px;
    width: 45%;
    height: auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: solid 2px;
    font-size: 20px;
    font-weight:bold;
    border-radius:30px;
    
    
}





